# environment folders:
conda_env_cpu/
conda_env_gpu/

# vscode settings:
.vscode/

# data folders:
workspaces/
build/
dist/
hwr.egg-info/

# cache:
**/__pycache__/

# logs:
results
**/results/

# others:
pseudo_algorithm.txt

